exportPattern("^[[:alpha:]]+")

useDynLib(Iris)
importFrom(Rcpp, evalCpp)
import(Biobase)
importFrom(gplots,colorpanel)
import(methods) 
import(RColorBrewer)
import(SpatialTools)
import(spatstat)
import(tiff)

export(Iris)
exportClasses(Iris)
exportMethods(extract.counts)
exportMethods(extract.proximity)
exportMethods(extract.ROI)
exportMethods(get.all.interactions)
exportMethods(get.count.ratios)
exportMethods(get.counts.collapsed)
exportMethods(get.counts.noncollapsed)
exportMethods(get.counts.per.mm2)
exportMethods(get.interactions)
exportMethods(interaction.maps)
exportMethods(neighbor.ray.plot)
exportMethods(overview.plot)
exportMethods(overview.plot.coord)
exportMethods(plot_interactions)
exportMethods(plot_nearest.neighbor)
exportMethods(plot_proximities)
exportMethods(read.raw)
exportMethods(threshold.dataset)
