exportPattern("^[[:alpha:]]+")

useDynLib(Iris)
importFrom(Rcpp, evalCpp)
import(Biobase)
import(grid)
import(limma)
import(methods) 
import(RColorBrewer)
import(spatstat)
import(tiff)
export(Iris)
exportClasses(Iris)
exportMethods(read.raw)
exportMethods(threshold.dataset)
exportMethods(extract.counts)
exportMethods(get.counts)
exportMethods(get.all.interactions)
exportMethods(get.interactions)
exportMethods(plot.interactions)
exportMethods(interaction.maps)
